# Ignore all images and gifs
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg
*.ico

# Ignore the "example" folder
example/
node_modules/
test/
src/

coverage/
.env
.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintignore
.eslintrc.cjs
.gitignore
.prettierrc.json
.prettierignore
tsconfig.json
tsconfig.test.json
vite.config.ts
yarn.lock
